/* Общие стили */
*,
*::after,
*::before {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body, html,
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #2F2D33;
}

body {
    background-color: #E3FFF5;
}

.page {
    width: calc(100% - 25vh);
    max-width: 1440px;
    margin: 0 auto;
}

/* Шапка */
.header {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: #E3FFF5;
}

.header_cont, .logo_cont {
    width: 100%;
    background-color: #E3FFF5;
}

.logo_cont {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 30px;
    color: #fff;
    border: none;
    border-radius: 21px;
    background-color: #5B27D3;
}

.header_btn_text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.login_img {
    padding-right: 6px;
}

.nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3FFF5;
}

.nav_cont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 14px;
    justify-content: space-between;
}

.nav_link {
    font-size: 20px;
    font-weight: 600;
    background-color: #dedede;
    color: #000;
    padding: 16px 24px;
    border-radius: 41px;
    margin-right: 10px;
}

.nav_link:last-child {
    margin-right: 0;
}

/* Адаптивные стили для шапки */
@media (min-width: 1440px) {
    .page {
        width: calc(100% - 60vh);
    }
}

@media (max-width: 1340px) {
    .nav_link {
        font-size: 14px;
        padding: 10px 14px;
    }

    .header_btn {
        font-size: 12px;
        padding: 8px 21px;
    }
}

@media (max-width: 1240px) {
    .nav_link {
        font-size: 16px;
        padding: 14px 20px;
    }
}

@media (max-width: 930px) {
    .page {
        width: calc(100% - 25vh);
    }

    .logo {
        width: 41%;
    }

    .header_btn, .nav {
        display: none;
    }

    .burger {
        display: block;
    }
}

/* Бургер-меню */
.burger {
    position: relative;
    width: 70px;
    height: 36px;
    display: none;
}

.burger_input {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.burger_lines::after,
.burger_lines_2::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #fff;
    filter: invert(1);
    transform-origin: center;
    transition: all 0.3s;
}

.burger_lines::after {
    top: 0;
}

.burger_lines_2::after {
    bottom: 0;
}

.burger_input:checked ~ .burger_lines::after {
    top: 50%;
    transform: rotate(45deg);
}

.burger_input:checked ~ .burger_lines_2::after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.burger_menu {
    width: 100vw;
    height: auto;
    position: fixed;
    padding: 11px 16px 16px;
    left: -150%;
    transition: left 0.3s;
    background-color: #E3FFF5;
}

.burger_input:checked ~ .burger_menu {
    left: 0;
}

.burger_link {
    display: block;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 21px;
}

@media (max-width: 630px) {
    .burger {
        width: 50px;
        height: 20px;
    }
}

/* Основной контент */
.main {
    margin-top: 186px;
    padding-top: 24px;
}

.glav_img {
    width: 100%;
    height: auto;
    max-height: 550px;
}

.main_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 45px;
}

.colum {
    width: 49%;
}

.plashka {
    position: relative;
    padding: 16px;
    padding-bottom: 4px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #E3FFF5;
}

.plashka::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F7ECEC;
    border-radius: 12px;
    z-index: 0;
    margin: -15px;
}

.plashka_title {
    font-size: 22px;
    font-weight: 500;
    color: #000;
    margin-bottom: 9px;
}

.plashka_text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 16px;
}

.plashka_subtitle {
    color: #000;
    font-size: 18px;
    max-width: 65%;
}

.revivews_btn_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.next_btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 1000px;
    background-color: #E0DADA;
}

.revive {
    padding: 24px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.revive_header {
    display: flex;
    align-items: start;
}

.avatar {
    width: 65px;
    height: 65px;
    background-color: #d9d9d9;
    margin-right: 14px;
    border-radius: 1000px;
}

.nik {
    font-size: 24px;
    font-weight: 400;
}

.city {
    font-size: 20px;
    font-weight: 400;
    margin-top: auto;
}

.date {
    font-size: 20px;
    font-weight: 400;
    margin-left: auto;
}

.revive_text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.plashka_btn {
    border: none;
    background-color: #5B27D3;
    padding: 23px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    border-radius: 21px;
}

.form_input, .form_textarea {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #E2E2E2;
    border: none;
    border-radius: 21px;
    background-color: #E0DADA;
}

.form_textarea {
    min-height: 205px;
    resize: vertical;
}

/* Адаптивные стили для основного контента */
@media (max-width: 930px) {
    .main_container {
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .colum {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 630px) {
    .page {
        width: calc(100% - 15vh);
    }

    .plashka {
        padding: 16px;
        padding-bottom: 1px;
    }

    .plashka_title {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .plashka_text {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .plashka_subtitle {
        font-size: 16px;
    }

    .plashka_btn {
        padding: 12px 0;
        font-size: 16px;
    }

    .next_btn {
        width: 37px;
        height: 37px;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }

    .nik {
        font-size: 16px;
    }

    .city {
        font-size: 14px;
    }

    .revive_text {
        font-size: 16px;
        margin-bottom: 47px;
    }

    .revive {
        padding: 14px;
        margin-bottom: 16px;
    }

    .date {
        font-size: 14px;
        position: absolute;
        bottom: 14px;
        right: 14px;
    }

    .form_input, .form_textarea {
        padding: 16px 14px;
        font-size: 14px;
    }

    .form_textarea {
        min-height: 160px;
    }
}

/* Футер */
.footer {
    margin-top: 125px;
    width: 100%;
    padding: 40px 0 83px 0;
    background-color: #F7ECEC;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 55px;
}

.footer_logo {
    max-width: 508px;
    filter: invert(1);
}

.footer_cont {
    display: flex;
    align-self: center;
}

.link_cont:first-child {
    margin-right: 32px;
}

.footer_link {
    font-size: 20px;
    font-weight: 400;
    display: block;
}

.footer_last {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 25px;
}

.footer_last .plashka_btn {
    background-color: #dedede;
    color: #000;
    max-width: 637px;
    margin: 0;
    padding: 23px 0;
}

/* Адаптивные стили для футера */
@media (max-width: 930px) {
    .footer {
        padding: 16px 0 33px 0;
    }

    .footer_logo {
        width: 150px;
    }

    .footer_inner {
        display: block;
        padding-bottom: 19px;
    }

    .footer_cont {
        margin-top: 22px;
    }

    .footer_link {
        font-size: 14px;
    }

    .footer_last {
        margin-top: 16px;
        align-items: start;
    }

    .footer_last .plashka_btn {
        max-width: 178px;
        font-size: 12px;
        padding: 12px 0;
    }
}

/* Дополнительные стили */
.asistent {
    position: fixed;
    z-index: 9;
    right: 50px;
    bottom: 25px;
}

.asistent_cont {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 25px;
    right: 50px;
    width: 350px;
    height: 555px;
    border-radius: 24px;
    background-color: #FFF;
    text-align: left;
    border: 2px solid #261749;
}

.asistent_input:checked ~ .asistent_cont {
    display: block;
}

/* Анимации */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-element {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 10px solid #3498db;
    border-left: 5px solid #3498db;
    border-bottom: 3px solid #3498db;
    border-right: 1px solid #3498db;
    border-top: 0px solid #3498db;
    animation: rotate 2s linear infinite;
}

.rotating-element.loading {
    display: block;
}

/* Ховер-эффекты */
.nav_link:hover {
    background-color: #77b9a1;
}

.header_btn:hover {
    background-color: #844eff;
}

.next_btn:hover {
    background-color: #a5a4a4;
}

.plashka_btn:hover {
    background-color: #6c48bf;
}

.footer_last .plashka_btn:hover {
    background-color: #232323;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 480px) {
    .page {
        width: calc(100% - 5vh);
    }
}

@media (max-width: 1440px) {
    .page {
        width: calc(100% - 35vh);
    }

    .logo_cont {
        padding: 5px 0;
    }

    .header_btn {
        font-size: 14px;
        padding: 11px 30px;
    }

    .nav_link {
        font-size: 17px;
        padding: 12px 16px;
    }

    .footer_logo {
        max-width: 280px;
    }

    .footer_link {
        font-size: 16px;
    }

    .footer_last .plashka_btn {
        max-width: 500px;
        padding: 12px 0;
        font-size: 18px;
    }
}
